<template name="main">
    <h1 id="title-1">Todaytion</h1>
    <p id="demo"></p>

    <p id="demo2"></p>


    <script>
        var d = new Date();
        var todaysDate = new Date();
        var inputDate1 = new Date("05/31/2016");
        var inputDate2 = new Date("06/01/2016");
        var inputDate3 = new Date("06/02/2016");
        var inputDate4 = new Date("06/03/2016");
        var inputDate5 = new Date("06/04/2016");
        var inputDate6 = new Date("06/05/2016");
        var inputDate7 = new Date("06/06/2016");
        var inputDate8 = new Date("06/07/2016");
        var inputDate9 = new Date("06/08/2016");
        var inputDate10 = new Date("06/09/2016");
        var inputDate11 = new Date("06/10/2016");
        var inputDate12 = new Date("06/11/2016");
        var inputDate13 = new Date("06/12/2016");
        var inputDate14 = new Date("06/13/2016");
        var inputDate15 = new Date("06/14/2016");
        var inputDate16 = new Date("06/15/2016");
        var inputDate17 = new Date("06/16/2016");
        var inputDate18 = new Date("06/17/2016");
        var inputDate19 = new Date("06/18/2016");
        var inputDate20 = new Date("06/19/2016");
        var inputDate21 = new Date("06/20/2016");
        var inputDate22 = new Date("06/21/2016");
        var inputDate23 = new Date("06/22/2016");
        var inputDate24 = new Date("06/23/2016");
        var inputDate25 = new Date("06/24/2016");
        var inputDate26 = new Date("06/25/2016");
        var inputDate27 = new Date("06/26/2016");
        var inputDate28 = new Date("06/27/2016");
        var inputDate29 = new Date("06/28/2016");
        var inputDate30 = new Date("06/29/2016");
        var inputDate31 = new Date("06/30/2016");


        document.getElementById("demo2").innerHTML = d;


        if (inputDate1.setHours(0, 0, 0, 0) == todaysDate.setHours(0, 0, 0, 0)) {
            document.getElementById("demo").innerHTML = "May 31: World No Tobacco Day!";
        }

        if (inputDate2.setHours(0, 0, 0, 0) == todaysDate.setHours(0, 0, 0, 0)) {
            document.getElementById("demo").innerHTML = "June 1: Dare Day!";
        }

        if (inputDate3.setHours(0, 0, 0, 0) == todaysDate.setHours(0, 0, 0, 0)) {
            document.getElementById("demo").innerHTML = "June 2: National Bubba Day";
        }

        if (inputDate4.setHours(0, 0, 0, 0) == todaysDate.setHours(0, 0, 0, 0)) {
            document.getElementById("demo").innerHTML = "June 3: National Doughnut Day!";
        }

        if (inputDate5.setHours(0, 0, 0, 0) == todaysDate.setHours(0, 0, 0, 0)) {
            document.getElementById("demo").innerHTML = "June 4: Hug Your Cat Day!";
        }

        if (inputDate6.setHours(0, 0, 0, 0) == todaysDate.setHours(0, 0, 0, 0)) {
            document.getElementById("demo").innerHTML = "June 5: World Environment Day!";
        }

        if (inputDate7.setHours(0, 0, 0, 0) == todaysDate.setHours(0, 0, 0, 0)) {
            document.getElementById("demo").innerHTML = "June 6: National Yo-Yo Day!";
        }

        if (inputDate8.setHours(0, 0, 0, 0) == todaysDate.setHours(0, 0, 0, 0)) {
            document.getElementById("demo").innerHTML = "June 7: National Chocolate Ice Cream Day!";
        }

        if (inputDate9.setHours(0, 0, 0, 0) == todaysDate.setHours(0, 0, 0, 0)) {
            document.getElementById("demo").innerHTML = "June 8: Best Friends Day!";
        }

        if (inputDate10.setHours(0, 0, 0, 0) == todaysDate.setHours(0, 0, 0, 0)) {
            document.getElementById("demo").innerHTML = "June 9: Donald Duck Day!";
        }

        if (inputDate11.setHours(0, 0, 0, 0) == todaysDate.setHours(0, 0, 0, 0)) {
            document.getElementById("demo").innerHTML = "June 10: Iced Tea Day";
        }

        if (inputDate12.setHours(0, 0, 0, 0) == todaysDate.setHours(0, 0, 0, 0)) {
            document.getElementById("demo").innerHTML = "June 11: National Corn on the Cob Day!";
        }

        if (inputDate13.setHours(0, 0, 0, 0) == todaysDate.setHours(0, 0, 0, 0)) {
            document.getElementById("demo").innerHTML = "June 12: Red Rose Day!";
        }

        if (inputDate14.setHours(0, 0, 0, 0) == todaysDate.setHours(0, 0, 0, 0)) {
            document.getElementById("demo").innerHTML = "June 13: Sewing Machine Day";
        }

        if (inputDate15.setHours(0, 0, 0, 0) == todaysDate.setHours(0, 0, 0, 0)) {
            document.getElementById("demo").innerHTML = "June 14: Monkey Around Day!";
        }

        if (inputDate16.setHours(0, 0, 0, 0) == todaysDate.setHours(0, 0, 0, 0)) {
            document.getElementById("demo").innerHTML = "June 15: Smile Power Day";
        }

        if (inputDate17.setHours(0, 0, 0, 0) == todaysDate.setHours(0, 0, 0, 0)) {
            document.getElementById("demo").innerHTML = "June 16: Fresh Veggies Day!";
        }

        if (inputDate18.setHours(0, 0, 0, 0) == todaysDate.setHours(0, 0, 0, 0)) {
            document.getElementById("demo").innerHTML = "June 17: Eat Your Vegetables Day!";
        }

        if (inputDate19.setHours(0, 0, 0, 0) == todaysDate.setHours(0, 0, 0, 0)) {
            document.getElementById("demo").innerHTML = "June 18: Go Fishing Day!";
        }

        if (inputDate20.setHours(0, 0, 0, 0) == todaysDate.setHours(0, 0, 0, 0)) {
            document.getElementById("demo").innerHTML = "June 19: National Kissing Day!";
        }

        if (inputDate21.setHours(0, 0, 0, 0) == todaysDate.setHours(0, 0, 0, 0)) {
            document.getElementById("demo").innerHTML = "June 20: Finally Summer Day";
        }

        if (inputDate22.setHours(0, 0, 0, 0) == todaysDate.setHours(0, 0, 0, 0)) {
            document.getElementById("demo").innerHTML = "June 21: Go Skate Day!";
        }

        if (inputDate23.setHours(0, 0, 0, 0) == todaysDate.setHours(0, 0, 0, 0)) {
            document.getElementById("demo").innerHTML = "June 22: National Chocolate Day!";
        }

        if (inputDate24.setHours(0, 0, 0, 0) == todaysDate.setHours(0, 0, 0, 0)) {
            document.getElementById("demo").innerHTML = "June 23: National Pink Day!";
        }

        if (inputDate25.setHours(0, 0, 0, 0) == todaysDate.setHours(0, 0, 0, 0)) {
            document.getElementById("demo").innerHTML = "June 24: Take Your Dog too Work Day!";
        }

        if (inputDate26.setHours(0, 0, 0, 0) == todaysDate.setHours(0, 0, 0, 0)) {
            document.getElementById("demo").innerHTML = "June 25: National Catfish Day!";
        }

        if (inputDate27.setHours(0, 0, 0, 0) == todaysDate.setHours(0, 0, 0, 0)) {
            document.getElementById("demo").innerHTML = "June 26: Forgiveness Day!";
        }

        if (inputDate28.setHours(0, 0, 0, 0) == todaysDate.setHours(0, 0, 0, 0)) {
            document.getElementById("demo").innerHTML = "June 27: Sunglasses Day!";
        }

        if (inputDate29.setHours(0, 0, 0, 0) == todaysDate.setHours(0, 0, 0, 0)) {
            document.getElementById("demo").innerHTML = "June 28: Paul Bunyan Day!";
        }

        if (inputDate30.setHours(0, 0, 0, 0) == todaysDate.setHours(0, 0, 0, 0)) {
            document.getElementById("demo").innerHTML = "June 29: Hug Day!";
        }

        if (inputDate31.setHours(0, 0, 0, 0) == todaysDate.setHours(0, 0, 0, 0)) {
            document.getElementById("demo").innerHTML = "June 30: Meteor Day!";
        }
    </script>

    <div class="box-with-text">
        Text
    </div>



</template>