#main {
    text-align: center;
}

#demo {
    text-align: center;
    border-top: 6px solid lightgray;
    border-bottom: 6px solid lightgray;
    background-color: lightcoral;
    color: white;
    font-size: 50px;
    padding: 30px;
    font-family: 'Roboto Slab', serif;
}

h1 {
    color: lightcoral;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    font-family: 'Cherry Cream Soda', cursive;
    font-size: 50px;
}

body {
    overflow: hidden;
    background: white;
}

iframe {
    overflow: visible;
    width: 100%;
    height: 100%;
    z-index: 1000000000;
}

#title-1 {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    color: lightskyblue;
    font-weight: bolder;
    font-size: 50px;
}